#calendar-container {
    flex: 1;
    /* Fill remaining vertical space */
    text-align: center;
    overflow: hidden;
    /* Hide overflow */
    display: flex;
    justify-content: center;
    /* Center children horizontally */
    align-items: center;
    /* Center children vertically */
    flex-direction: column;
    /* Stack children vertically */
    
    
}


#calendar {
    padding-top: 5%;
    width: 50vw;
}

#toggle-view {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25em;
    display: flex;
    justify-self: left;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.4em 0.65em;
    margin-right: 42%;
    text-align: center;
    user-select: none;
    vertical-align: middle;
    background-color: var(--fc-button-bg-color);
    border-color: var(--fc-button-border-color);
    color: var(--fc-button-text-color);
    margin-left: 10px;


}

#secondnavlink {
    text-decoration: none;
    margin-top: 7%;
    background-color: #00539f;
    border: 1px solid #00539f;
    border-radius: 0.25em;
    display: block;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.5em 0.65em;
    text-align: center;
    user-select: none;
    float:left;
    border-radius: 0;
    border-color: var(--fc-button-border-color);
    color: var(--fc-button-text-color);
    margin-left: 10px;
}


#secondnavbtn {
    
    border: 1px solid transparent;
    border-radius: 0.25em;
    display: block;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.5em 0.65em;
    text-align: center;
    user-select: none;
    float: left;
    background-color:#00539f;
    border-color: var(--fc-button-border-color);
    color: var(--fc-button-text-color);
    margin-left: 10px;
    border-radius: 0;

}





.overlay {
    z-index: 50;
}

.remove-button {
    background-color: #ff4d4d; /* Red background color */
    color: white; /* White text color */
    padding: 10px 20px; /* Padding */
    margin: 5px; /* Margin */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    font-weight: bold; /* Bold text */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.remove-button:hover {
    background-color: #ff1a1a; /* Darker red on hover */
}

.remove-button:active {
    background-color: #e60000; /* Even darker red on click */
}

.remove-button:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 5px #ff4d4d; /* Custom focus shadow */
}