/* CSS for User Profile */

body {
    font-family: "Lato", sans-serif;
    background-color: rgba(243, 179, 11, 0.2);
    
}
main {
    max-width: 100%;
    margin: 0 auto;
    
}



.profile-container {
    flex: 1; /* Fill remaining vertical space */
    overflow: hidden; /* Hide overflow */
    display: flex;
    justify-content: center; /* Center children horizontally */
    align-items: center; /* Center children vertically */
    flex-direction: column; /* Stack children vertically */
    margin-top:3%;
}

.profile {
    padding: 2%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50vw;
}

.profile-info p {
    margin: 2%;
}

.edit-profile {
    margin-top: 20px;
}

.edit-profile input {
    display: block;
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.profile button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-profile button:last-child {
    margin-right: 0;
}

.edit-profile button:hover {
    background-color: #0056b3;
}

.edit-profile button.cancel {
    background-color: #dc3545;
}

.edit-profile button.cancel:hover {
    background-color: #c82333;
}

.edit-profile button.edit {
    background-color: #28a745;
}

.edit-profile button.edit:hover {
    background-color: #218838;
}

.profile-legend{
    float:left;
    justify-content: left;;
    

}

/* Media query for smaller screens */
@media (max-width: 600px) {
    main {
        padding: 10px;
    }

    .edit-profile input {
        width: calc(100% - 16px);
    }
}
