/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif; /* Sans-serif font */
}

/* Main container */
main {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

body {font-family: "Lato", sans-serif;
   

}

/* Navigation */
nav {
    background-color: #f3b30b; /* University of Otago Gold */
    padding: 1.5% 0;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a.active,
nav a:hover {
    background-color: #00539f; /* University of Otago Blue */
}

/* Header */

header{
    text-align: center;
    padding: 5%;
  font-weight: 600;
  color: #fdfdfe;
  text-shadow: 0px 0px 5px #fff, 0px 0px 10px #fff, 0px 0px 10px #f3b30b,
    0px 0px 20px #f3b30b;
    background-color: rgba(243, 179, 11, 0.2);
}

.headers-divider{
    
    border: 10px, solid, #f3b30b;

}

header h1 {
    color: #00539f;
    margin-bottom: 2%;
    font-size: 50px;
}

header p {
    color: #333;
    font-weight: bold;
    font-style: italic;
}

/* Sections */
section {
    border: 2px solid #00539f; /* University of Otago Blue */
    padding: 20px;
    margin-bottom: 20px;
}

section h2 {
    color: #00539f;
    margin-bottom: 10px;
}

section p {
    color: #333;
    line-height: 1.5;
}

section ul {
    list-style: none;
    padding-left: 20px;
}
section ul li {
    margin-bottom: 10px;
    color: #333;
}

.index-section1{
    display:inline-grid;
    width: 100%;
    padding: 4%;
    padding-bottom: 0%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    grid-template-rows: 1fr 1fr; /* Two rows */
    gap: 20px; /* Gap between grid items */
    max-width: 800px; /* Adjust as needed */
    margin: 0 auto; /* Center the grid */
}


/* Form styling */
.form-container {
    max-width: 80%;
    margin: auto;
    margin-top: 5%;
    padding: var(--spacing);
    justify-content: center;
    align-content: center;
}

.input {
    background-color: var(--theme-primary);
    padding: var(--spacing);
    border-radius: var(--rounded-corner);
    box-shadow: var(--drop-shadow);
}

.input legend {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 6px;
}

.input label {
    display: block;
    margin-bottom: 6px;
    margin-left: 4px;
    margin-right: 2px;
    color: #003366;
    text-align:left;
}

.input input[type="text"],
.input textarea {
    
    width: 100%;
    padding: 10px;
    margin-bottom: 24px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input button {
    display: block;
    align-content: center;
    width: 40%;
    margin-top: 30px;
    margin-left:31%;
    padding: 1%;
    margin-bottom:2%;
    background-color: #00539f;
    color: white;
    border:  none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.input button:hover {
    background-color: #003366; /* Darker shade of University of Otago Blue */
}

/* Style for input fields */
.input-field {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px; /* Adjust margin as needed */
}

/* Style for select element */
.input-field[type="select"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px; /* Adjust margin as needed */
}

/*Style for paper selection fields*/
.courselist-field {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    gap: 2px;
    margin: 4%;
}

.courselist-field button {
    background-color: rgb(219, 3, 3);
    color: black;
    width: 22px;
    height: 22px;
    justify-self: end;
    margin-right: 20%;
}
.courselist-field button:hover {
    background-color: darkred;
}

.courselist-field hr {
    width:184%
}



/* Style for the label */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Style for the legend */
legend {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

table {
    width: 50%;
    margin: auto;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}


/* Style the tab buttons */
.tablink {
    
    color: black;
    display: inline-block;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33.33%;
    justify-content: center;
    
  }
  
  /* Change background color of buttons on hover */
  .tablink:hover {
    background-color: #777;
  }
  
  /* Set default styles for tab content */
  .tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
  }
  
  /* Style each tab content individually */
  #task-management {background-color:red;}

  #priority-Setting {background-color:green;}
  
  #progress-Tracking {background-color:blue;}
  
