:root {
    --spacing: 12px;
    --rounded-corner: 12px;
    --drop-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    --theme-primary: #3982e1cc;
    --theme-secondary: #f184636b;;
    --theme-tertiary: peachpuff;
    --theme-tertiary-hover: #ffb06a;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--spacing);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    width: 100%;
    margin:0;
    padding: var(--spacing);
}

span {
    display: inline;
}

nav {
    background-color: var(--theme-secondary);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    padding: var(--spacing);
    box-shadow: var(--drop-shadow);
}

.nav-links {
    display: flex;
    align-items: center;
}


#navbox {
    background-color: var(--theme-primary);
    margin: 0 var(--spacing);
    padding: var(--spacing);
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: var(--rounded-corner);
}


#welcome-message {
    font-size: 14px;
    color: #333;
    margin: 0;
}

#title {
    display: block;
    background-color: var(--theme-primary);
    color: white;
    text-align: center;
    padding: var(--spacing);
    text-decoration: none;
    width: 100%;
    border-style: double;
    border-width: 2px;
    margin: var(--spacing) 0;
    margin-left: 0;
}

#formaddress {
    height: 60px;
}

.input {
    max-width: 400px;
    margin: auto;
}

.input fieldset {
    background-color: var(--theme-tertiary);
    border: black dotted 1px;
    padding: 8px;
    margin: 0;
    text-align: center;
}

.input legend {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 6px;
}

.input div{
    max-width: 800px;
    margin: auto;
}
.input form {
    display: grid;
    max-width: 800px;
    grid-template-columns: max-content 1fr;
    gap: 0.5em 0.1em;
}

.input label {
    grid-column: 1 / 2;
    text-align: right;
    margin-bottom: 12px;
    font-weight: bold;
}

.input input, textarea {
    grid-column: 2 / 3;
    width: 100%;
    padding: 0;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;

}

.input button {
    grid-column: 2 / 3;
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.input button:hover {
    background-color: #2980b9;
}


textarea {
    height: 4em;
    resize: vertical;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead th {
    background-color: var(--theme-primary);
    text-align: left;
    padding: 8px;
    font-weight: bold;
}

tbody td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

.buy-button {
    background-color: var(--theme-tertiary);
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buy-button:hover {
    background-color: #ffb06a;
}

.category-button {
    background-color: var(--theme-tertiary);
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.category-button:hover {
    background-color: #ddd;
}

.cart-container table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.cart-container th {
    background-color: var(--theme-primary);
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    color: white;
}

.cart-container td {
    border: 1px solid #ddd;
    padding: 10px;
}

.quantity-button {
    width: 26px; 
    height: 26px;
    border-radius: 50%; 
    background-color: var(--theme-tertiary);
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18pt;
    font-weight: bold;
    transition: background-color 0.3s;
    justify-content: center;
    align-items: center;
}

.quantity-button :hover {
    background-color:  var(--theme-tertiary-hover);
}

.cart-container tfoot td {
    text-align: right;
    font-weight: bold;
}

.checkout-button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.cart-container tbody tr:not(:last-child) {
    border-bottom: 1px solid #ddd;
}


.quantity-container {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}


.quantity-container legend {
    font-weight: bold;
    font-size: 1.2em;
}


.quantity-container form {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.quantity-input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    flex-grow: 1; 
    margin-right: 10px; 
}
