<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <title>Account Registration</title>
        <script src="js/external/vue.global.js"></script>
        <script src="js/external/vuex.global.js"></script>
        <script src="js/external/vuex-persistedstate.js"></script>
        <script src="js/external/axios.js"></script>
    </head>


    <body>
        <main>
            <nav>
                <a class="nav-link" href=".">Home</a>
    
                <a class="nav-link" href="sign-in.html">Sign In</a>
    
                <a class="nav-link" href ="create-account.html">Create Account</a>
    
            </nav>
            <header>
                <h1 id="title">CREATE ACCOUNT</h1>
            </header>

            <div class="input">
                <fieldset>

                    <legend>Account Details</legend>
                    <p style="color: red; text-align: center" v-for="error in $store.state.error">{{ error }}</p>
                    <form @submit.prevent="register(account)" class="input">
                        <label >First Name:</label><input class="input-field" type="text" v-model="account.FirstName" required/>
                        <label >Last Name:</label><input class="input-field" type="text" v-model="account.LastName" required/>
                        <label >Username:</label><input class="input-field" type="text" v-model="account.UserName" required/>
                        <label >Password:</label><input class="input-field" type="text" v-model="account.Password" required/>
                        <label >Email: </label><input class="input-field" type="text" v-model="account.Email" required/>
                        <label >Status: </label><input class="input-field" type="text" v-model="account.Status" id="formaddress" required/>

                        <button style="display: block; margin: 0 auto;" class="input" type="submit">
                            Create Account
                        </button>
                    </form>

                </fieldset>
            </div>
        </main>
        <script type="module" src="js/create-account.js"></script>

    </body>
</html>

