<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <title>Paper Selection</title>
        <script src="js/external/vue.global.js"></script>
        <script src="js/external/vuex.global.js"></script>
        <script src="js/external/vuex-persistedstate.js"></script>
        <script src="js/external/axios.js"></script>
    </head>
    <body>
        <main>
            <navmenu></navmenu>
            <header>
                <h1 id="title">Paper Selection</p>
            </header>

            <div class="input">
                <fieldset>
                    <legend>Select Additional Papers</legend>
                    <p style="color: red; text-align: center" v-for="error in $store.state.error">{{ error }}</p>
                    <form @submit.prevent="enrol(selectedCourse)" class="input">
                        <label>Paper: </label>
                        <select name="courses" id="courses" v-model="selectedCourse">
                            <option v-for="course in courses" :value="course.CourseId">{{ course.CourseName }}</option>
                        </select>
                        <button style="display: block; margin: 0 auto;" class="input" type="submit">
                            Add Paper
                        </button>
                </fieldset>
                <fieldset>
                    <legend>Current Papers</legend>
                    <p style="color: red; text-align: center" v-for="error in $store.state.error">{{ error }}</p>
                    <div v-for="courseList in courseLists">
                        <label>{{ courseList.CourseID }}  -  {{courseList.CourseName }}</label>
                        <label></label>
                        <button @click="drop(courseList.CourseListID)">Remove Course</button>
                      </div>


                </fieldset>
                
            </div>

        </main>
        <script type="module" src="js/paper-selection.js"></script>
    </body>
</html>