<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main>
        <nav>
            <a class="nav-link" href=".">Home</a>

            <a class="nav-link" href="sign-in.html">Sign In</a>

            <a class="nav-link" href ="create-account.html">Create Account</a>

        </nav>

        <header>
            <h1>SIGN IN</h1>
        </header>

        <div class="form-container">
            <fieldset class="input">
                <legend>Account Details</legend>
                <form @submit.prevent="signIn(account)" class="input-form">
                    <label for="username">Username:</label>
                    <input type="text" id="username" class="input-field" v-model="account.username">
                    <label for="password">Password:</label>
                    <input type="text" id="password" class="input-field" v-model="account.password">
                    <button type="submit" class="submit-button">Sign-In</button>
                </form>
            </fieldset>
        </div>

    </main>

    <script src="js/external/vue.global.js"></script>
    <script src="js/external/vuex.global.js"></script>
    <script src="js/external/vuex-persistedstate.js"></script>
    <script src="js/external/axios.js"></script>
    <script type="module" src="js/sign-in.js"></script>
</body>
</html>


