<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <main>
        <navmenu></navmenu>

        <header>
            <h1>Sign In</h1>
        </header>
        <hr class="headers-divder">

        <div class="form-container">
            <fieldset class="input">
                <legend>Account Details</legend>
                <form @submit.prevent="signIn(account)" class="input-form">
                    <label for="username">Username:</label>
                    <input type="text" id="username" class="input-field" v-model="account.username" required>
                    <label for="password">Password:</label>
                    <input type="password" id="password" class="input-field" v-model="account.password" required>
                    <button type="submit" class="submit-button">Sign-In</button>
                    <div class="create-acc-link">
                        
                        <a href="create-account.html">Create an account</a>
                    </div>
                </form>
            </fieldset>
        </div>

    </main>

    <script src="js/external/vue.global.js"></script>
    <script src="js/external/vuex.global.js"></script>
    <script src="js/external/vuex-persistedstate.js"></script>
    <script src="js/external/axios.js"></script>
    <script type="module" src="js/sign-in.js"></script>
</body>

</html>